<%= form_with model: @book, method: :post do |f| %>
  <h2>
    New Book
  </h2>

  <div class="field">
    <label>Title</label>
    <br>
      <%= f.text_field :title %>
  </div>


  <div class="field">
    <label>Opinion</label>
    <br>
      <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Book' %>
  </div>

<% end %>